<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="AD_PATH" value=""/>
	<add key="AD_DOMAIN" value=""/>
	<add key="NoCookie" value="false"/>
	<add key="SnifQueryStringFirst" value="true"/>
	<add key="CookieNoSSL" value="false"/>
	<add key="CookieExpires" value=""/>
  </appSettings>
</configuration>