<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <!--<add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>-->
    <!-- your virtual path if not kept default, such as /mypath -->
    <!-- your cookie domain if not kept default, such as mydomain.com -->
    <!-- if this is used, a GUID in a URI QueryString parameter, is accepted as a 'cookie'. Note, that this is a security risk. -->
    <!-- if specified true, the session id will not be tracable and change at each request-->
    <!-- a number in minutes causes the cookie to be a persisted cookie (not a session) keep empty if default Session cookie-->
    <!-- a number in minutes, if not specified, will be 30 minutes-->
    <!-- make Session.SessionID a number ISP Session classic only-->
    <!-- If true, the session will be compressed. consider only for huge amounts of data-->
    <!-- not effective on demo-->
    <!-- For ASP.NET _only_ in production, each .config must include the license -->
    <!--Redis server, currently supports only master mode-->
      <add key="ispsession_io:CookieName" value="GUID"/>
    <add key="ispsession_io:APP_KEY" value="F01FB5D0BCA6CE4C8CC773916F281C32"/>
    <add key="ispsession_io:DataSource" value="localhost:6379"/>
<!--,password=aGu2r3zz6iQFu+diIEoBlpsPjL1nIJtGENPf4u13MIB=,database=2-->
    <add key="ispsession_io:AD_PATH" value="/"/>
    <add key="ispsession_io:AD_DOMAIN" value=""/>
    <add key="ispsession_io:SnifQueryStringFirst" value="true"/>
    <add key="ispsession_io:CookieNoSSL" value="false"/>
    <add key="ispsession_io:Liquid" value="false"/>
    <add key="ispsession_io:CookieExpires" value=""/>
    <add key="ispsession_io:ReEntrance" value="false"/>
    <add key="ispsession_io:SessionTimeout" value="30"/>
    <add key="ispsession_io:disableStats" value="true"/>
    <add key="ispsession_io:EnableLogging" value="2"/>
    <add key="ispsession_io:SessionTimeout" value="30"/>
    <add key="ispsession_io:HASH_SESSIONID" value="false"/>
    <add key="ispsession_io:Compress" value="false"/>
    <add key="ispsession_io:Csession.LIC" value="mydomain.local"/>
    <add key="ispsession_io:License" value="F01FB5D0BCA6CE4C8CC773916F281C32"/>

    <add key="ispsession_io:ClassicLicense" value="035174000391A876EC376C374C61321E"/>
    <add key="ispsession_io:ClassicCsession.LIC" value="telemax.local&#xD;&#xA;WORKGROUP"/>
  </appSettings>
  
  <system.diagnostics>
    <switches>
      <!-- Leave 0 in production!-->
      <add name="ISPSession" value="0"/>
      <!-- 3=info-->
    </switches>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules/>
  </system.web>
  <system.webServer>    
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <remove name="Session"/>
      <add name="ISPSession" preCondition="managedHandler" type="ispsession.io.ISPSessionModule, ispsession.io, Version=8.5.4, PublicKeyToken=9e8b40b682d8c05a"/>
      <add name="ISPApplication" preCondition="managedHandler"
        type="ispsession.io.ISPApplicationModule, ispsession.io, Version=8.5.4, PublicKeyToken=9e8b40b682d8c05a"/>

    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">    
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network enableSsl="true" port="25" clientDomain="adccure.nl" host="mail.adccure.nl" password="DS$dsf)_dkd4545" userName="mailer@adccure.nl"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>