<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ispsession_io:APP_KEY" value="F01FB5D0BCA6CE4C8CC773916F281C32"/>
    <!-- your virtual path if not kept default, such as /mypath -->
    <add key="ispsession_io:AD_PATH" value="/"/>
    <!-- your cookie domain if not kept default, such as mydomain.com -->
    <add key="ispsession_io:AD_DOMAIN" value=""/>  
    <!-- if this is used, a GUID in a URI QueryString parameter, is accepted as a 'cookie'. Note, that this is a security risk. -->
    <add key="ispsession_io:SnifQueryStringFirst" value="true"/>
    <add key="ispsession_io:CookieNoSSL" value="false"/>
    <!-- if specified true, the session id will not be tracable and change at each request-->
    <add key="ispsession_io:Liquid" value="false"/>
    <!-- a number in minutes causes the cookie to be a persisted cookie (not a session) keep empty if default Session cookie-->
    <add key="ispsession_io:CookieExpires" value=""/>
    <add key="ispsession_io:ReEntrance" value="true"/>
    <!-- a number in minutes, if not specified, will be 30 minutes-->
    <add key="ispsession_io:SessionTimeout" value="30"/>
    <!-- make Session.SessionID a number ISP Session classic only-->
    <add key="ispsession_io:HASH_SESSIONID" value="false"/>
    <!-- If true, the session will be compressed. consider only for huge amounts of data-->
    <add key="ispsession_io:Compress" value="false"/>
    <!-- not effective on demo-->
    <!-- For ASP.NET _only_ in production, each .config must include the license -->
    <add key="ispsession_io:Csession.LIC" value="mydomain.local"/>
    <add key="ispsession_io:License" value="F01FB5D0BCA6CE4C8CC773916F281C32"/>
    <!--Redis server, currently supports only master mode-->
    <add key="ispsession_io:DataSource" value="localhost:6379"/>  
  </appSettings>
  <!-- Settings below are ONLY for .NET -->
  <system.diagnostics>
    <switches>
      <!-- Leave 0 in production!-->
      <add name="ISPSession" value="0"/>
      <!-- 3=info-->
    </switches>
  </system.diagnostics>
  <!-- Settings below are ONLY for .NET -->
  <!--<connectionStrings>
    --><!--add name="ISPSessionConnection" connectionString="Password=3QZrP_0qXq;Persist Security Info=True;User ID=aspsessiongarb;Initial Catalog=ISPSESSION;Data Source=adccure.nl" providerName="System.Data.SqlClient"/--><!--
    <add name="ISPSessionConnection" connectionString="localhost:6379"/>
  </connectionStrings>-->
  <!-- Settings below are ONLY for .NET -->  
  <system.webServer>
    <modules>
      <remove name="Session"/>
      <add name="ISPSession" preCondition="managedHandler" type="ispsession.io.ISPSessionModule, ispsession.io, Version=8.5.2, PublicKeyToken=9e8b40b682d8c05a"/>
    </modules>
  </system.webServer>
</configuration>