<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  <add key="ispsession_io:DataSource" value="localhost:6379" />    
    <add key="ispsession_io:HASH_SESSIONID" value="true" />
    <add key="ispsession_io:disableStats" value="true" />
    <add key="ispsession_io:EnableLogging" value="0" />
    <add key="ispsession_io:SessionTimeout" value="525600" />
    <add key="ispsession_io:License" value="016BC1DB84A51186EF4D637718173314" />
    <add key="ispsession_io:Csession.LIC" value="WORKGROUP" />
  </appSettings>
</configuration>