<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ispsession_io:CookieName" value="GUID"/>
    <add key="ispsession_io:APP_KEY" value="F01FB5D0BCA6CE4C8CC773916F281C32"/>
    <add key="ispsession_io:AD_PATH" value="/"/>
    <add key="ispsession_io:AD_DOMAIN" value=""/>
    <add key="ispsession_io:SnifQueryStringFirst" value="true"/>
    <add key="ispsession_io:CookieNoSSL" value="false"/>
    <add key="ispsession_io:Liquid" value="false"/>
    <add key="ispsession_io:CookieExpires" value=""/>
    <add key="ispsession_io:ReEntrance" value="true"/>
    <add key="ispsession_io:SessionTimeout" value="30"/>
    <add key="ispsession_io:SessionTimeout" value="30"/>
    <add key="ispsession_io:HASH_SESSIONID" value="false"/>
    <add key="ispsession_io:Csession.LIC" value="mydomain.local"/>
    <add key="ispsession_io:License" value="F01FB5D0BCA6CE4C8CC773916F281C32"/>
    <add key="ispsession_io:DataSource" value="localhost:6379"/>
  </appSettings>
  
</configuration>