<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ADCCure.ISPSession.setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="adccure.ispsession.setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="adccure.dictionary.setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <ADCCure.ISPSession.setup.Properties.Settings>
      <setting name="WebInstalled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebSite" serializeAs="String">
        <value/>
      </setting>
      <setting name="AppPool" serializeAs="String">
        <value/>
      </setting>
      <setting name="DBCreated" serializeAs="String">
        <value/>
      </setting>
    </ADCCure.ISPSession.setup.Properties.Settings>
    <adccure.ispsession.setup.Properties.Settings>
      <setting name="WebInstalled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebSite" serializeAs="String">
        <value/>
      </setting>
      <setting name="AppPool" serializeAs="String">
        <value/>
      </setting>
    </adccure.ispsession.setup.Properties.Settings>
    <adccure.dictionary.setup.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value/>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value/>
      </setting>
      <setting name="webPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="WebSite" serializeAs="String">
        <value/>
      </setting>
      <setting name="AppPool" serializeAs="String">
        <value/>
      </setting>
      <setting name="WebInstalled" serializeAs="String">
        <value>False</value>
      </setting>
    </adccure.dictionary.setup.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="blah" value="tata"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
