<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ASPSessionConnStringUsr" value="Provider=SQLOLEDB;Password=Sd$9d_dfs@&amp;#;Persist Security Info=true; initial catalog=ISPSESSION;Data SOurce=.\SQLEXPRESS;network library=dbmssocn" />
    <add key="HASH_SESSIONID" value="0"/>
    <add key="disableStats" value="false"/>
    <!--<add key="UseCompression" value="1"/>-->
    <!-- enable logging can be 0, off, 
    1 = to \windows\temp\csessionlog
    2 = to outputdebugstring (run dbgview.exe from Sysinternals to view it
    3 = both
    IMPORTAnT! disable this at production-->
    <add key="EnableLogging" value="2"/>
    <add key="SessionTimeout" value="20"/>
    <add key="License" value="00000000000000000000000000000000"/>
  </appSettings>
</configuration>